
#canvas-image-blending {
    width: 100%;
    height: 3000px;
    position: absolute;
    z-index: -1;

}

.da {
    position: relative;
    pointer-events: none;
    touch-action: none;
}

    
.container {
    max-width: 1260px;
    margin: 0 auto;
}

.top-margin
{
    padding-top: 260px;
}

.nav-glavname
{
    text-align: center;
    font-family: Impact, sans-serif;
    color: #00B0F0;
    letter-spacing: 4px;
    font-weight: normal;
    text-shadow: 3px 3px 2px rgb(41, 0, 136);
    margin-top: -5px;
    font-size: 42px;    

}

.nav-display
{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.navbar
{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    /* margin-right: 40px; */
    margin-left: -40px;
}

.tab-content {
    display: none;
    text-align: center;
    font-family: Bahnschrift, sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 24px;
    text-shadow: 3px 3px 2px rgb(11, 0, 136);
}

.active-tab {
    display: block;
}

.Zagolovok {
    font-family: Impact, sans-serif;
    color: #00B0F0;
    letter-spacing: 4px;
    font-weight: normal;
    text-shadow: 3px 3px 2px rgb(11, 0, 136);
    text-decoration: none;
    font-size: 32px;
    margin-top: 10px;
    background-image: url('../images/panel1.png');
    background-position: center;
    background-size: 320px 100px;
    background-repeat: no-repeat;
}

.Zagolovok_str
{
    font-family: Impact, sans-serif;
    color: #00B0F0;
    letter-spacing: 4px;
    font-weight: normal;
    text-shadow: 3px 3px 2px rgb(41, 0, 136);
    text-decoration: none;
    font-size: 32px;
    margin-top: 50px;
    
}

/* .multiple-items {
    height: 80%;
    width: 80%;
} */

.slider_image1,
.slider_image2,
.slider_image3
{
    object-fit: cover;
    width: 100%;
    height: 100%;

    /* border: 16px ridge #141221; */
    box-shadow: 0 0 35px rgb(0, 0, 0); 
}

.merch
{
    align-items: center;
    justify-content: center;
    padding: 220px;
    
}

.add-to-cart-btn
{
    margin-top: 20px;
    color: #00B0F0;
    object-fit: cover;
    width: 100%;
    text-shadow: 3px 3px 2px rgb(41, 0, 136);
    text-decoration: none;
    font-size: 50px;
    background-color: #2d1f46;
    border: 16px ridge #262145; 

}

.nav-glavname2
{
    text-align: center;
    font-family: Impact, sans-serif;
    color: #00B0F0;
    letter-spacing: 4px;
    font-weight: normal;
    text-shadow: 3px 3px 2px rgb(41, 0, 136);
    margin-bottom: -200px;
    font-size: 42px;    

}